# 2. Lists in Python

 * __Lists are ordered.__
 * __Lists can contains any arbitrary objects.__
 * __List elements can be accessed by index.__
 * __Lists can be nested to any arbitrary depth.__
 * __Lists are mutable.__

In [1]:
x=[]

In [2]:
x

[]

In [3]:
type(x)

list

In [4]:
x1=["Hello world",True,False,46,100,['Payal',100],(100,200),{1,2,3,4,5,6,5,4,5},{'a':'Payal'}]
x1

['Hello world',
 True,
 False,
 46,
 100,
 ['Payal', 100],
 (100, 200),
 {1, 2, 3, 4, 5, 6},
 {'a': 'Payal'}]

In [6]:
print(type(x1))

<class 'list'>

In [10]:
print(x1[0])
print(type(x1[0]))
print(x1[1])
print(type(x1[1]))

Hello world
<class 'str'>
True
<class 'bool'>

In [11]:
x1[-1]

{'a': 'Payal'}

In [12]:
x1[-2]

{1, 2, 3, 4, 5, 6}

# What can content a list?
 * __String__
 * __Floats__
 * __Integer__
 * __Boolean__
 * __Nested list__
 * __Nested Tuple__
 * __Nested Dictonary__
 * __Other Data Structue__

In [13]:
print(x1)

['Hello world', True, False, 46, 100, ['Payal', 100], (100, 200), {1, 2, 3, 4, 5, 6}, {'a': 'Payal'}]

In [14]:
# Count the total length of the list:
len(x1)

9

# Slicing of the list

In [18]:
x1[0:3]

['Hello world', True, False]

In [19]:
x1[1:3]

[True, False]

In [20]:
x1[7:9]

[{1, 2, 3, 4, 5, 6}, {'a': 'Payal'}]

In [21]:
# Mutable : Addding, removing, deleting, updating

x1

['Hello world',
 True,
 False,
 46,
 100,
 ['Payal', 100],
 (100, 200),
 {1, 2, 3, 4, 5, 6},
 {'a': 'Payal'}]

In [23]:
# Adding in the list 1. append(), 2. Extend() 3. Insert()

x1.append('Payal Chavan')   # append take only one argument at a time.

In [24]:
x1

['Hello world',
 True,
 False,
 46,
 100,
 ['Payal', 100],
 (100, 200),
 {1, 2, 3, 4, 5, 6},
 {'a': 'Payal'},
 'Payal Chavan']

In [26]:
# Extend()

x1.extend([45.0,200,500,"Python"])

In [27]:
x1

['Hello world',
 True,
 False,
 46,
 100,
 ['Payal', 100],
 (100, 200),
 {1, 2, 3, 4, 5, 6},
 {'a': 'Payal'},
 'Payal Chavan',
 45.0,
 200,
 500,
 'Python']

In [28]:
# insert() 

x1.insert(0,'c++')

In [29]:
x1

['c++',
 'Hello world',
 True,
 False,
 46,
 100,
 ['Payal', 100],
 (100, 200),
 {1, 2, 3, 4, 5, 6},
 {'a': 'Payal'},
 'Payal Chavan',
 45.0,
 200,
 500,
 'Python']

In [32]:
# updating the list

x1[0]="Python"
x1

['Python',
 'Hello world',
 True,
 False,
 46,
 100,
 ['Payal', 100],
 (100, 200),
 {1, 2, 3, 4, 5, 6},
 {'a': 'Payal'},
 'Payal Chavan',
 45.0,
 200,
 500,
 'Python']

In [33]:
# Deleting an element in the list
del(x1[0])
x1

['Hello world',
 True,
 False,
 46,
 100,
 ['Payal', 100],
 (100, 200),
 {1, 2, 3, 4, 5, 6},
 {'a': 'Payal'},
 'Payal Chavan',
 45.0,
 200,
 500,
 'Python']

# Aggrigate function

# len(),min(),max(),index(), sum() functions

In [39]:
y=[10,20,30,40,50,60,60,40,50]

# length of the element
print(len(y))

# mininum of the list:
print(min(y))

# maximum number of the list:
print(max(y))

# index of the list

9
10
60

In [41]:
y.index(20)

1

In [42]:
y

[10, 20, 30, 40, 50, 60, 60, 40, 50]

In [44]:
# sum of the list

sum(y)

360

In [46]:
# Average of the list

x=sum(y)/len(y)
x

40.0

# copy the list

# 1. Deep copy  2. Swallow copy

In [49]:
# 1. Deep copy

x2=["Payal","hello world"]

x3=x2
print(x3)

x2.append('Python')
print(x3)

['Payal', 'hello world']
['Payal', 'hello world', 'Python']

In [53]:
# Swallow copy

print(x2)

x4=x2.copy()
print(x4)

x2.append('Good Morning!')
print(x2)

print(x4)

['Payal', 'hello world', 'Python', 'Good Morning!']
['Payal', 'hello world', 'Python', 'Good Morning!']
['Payal', 'hello world', 'Python', 'Good Morning!', 'Good Morning!']
['Payal', 'hello world', 'Python', 'Good Morning!']

In [54]:
# input() function

x=input()

 45

In [58]:
x1=int(input("Enter any value"))

Enter any value 45

In [61]:
# calculate the value input from the user.

x=int(input('Enter first numebr:\n'))
y=int(input('Enter second number:\n'))

z=x+y
print('Total sum of the two number is:',z,"\nAverage of the two number is:",z/2)

Enter first numebr:
 45
Enter second number:
 23

Total sum of the two number is: 68
Average of the two number is: 34.0

# eval() function

In [7]:
x='45'
print(x)
print(type(x))

# eval function convert the data string to integer.

y=eval(x)
print(y)
print(type(y))

45
<class 'str'>
45
<class 'int'>

In [11]:
y+10

55

# format function

In [17]:
x=int(input('Enter any number:'))
y=int(input('Enter second number:'))

z= x+y
print("The sum of two number is:",z)


# format

print('The sum of two numbers is {} and {} is {}'.format(x,y,z))

Enter any number: 45
Enter second number: 45

The sum of two number is: 90
The sum of two numbers is 45 and 45 is 90

# Comparison operators 

 * __There are six comparison operators in python: <,>,<=,>=,==,!= it returns True or False Statement__

In [24]:
a=5
b=10
c=20
d=5

print(a>b)
print(a<b)
print(a==d)
print(a>=b)
print(a<=b)
print(d<=a)

False
True
True
False
True
True

# Logic gates in Python (and, or, not)

In [30]:
a=5
b=10
c=20
d=5

print(a>b and b>a)
print(a<b and b>a)
print(a>b or b>a)

print(a>=d or c>d)

print(a==d and a!=c)

False
True
True
True
True

# Assignment operators

In [33]:
x=10

x+=5

In [34]:
x

15

In [35]:
y=90

y-=20
y

70

In [36]:
y1= 100

y1*=5
y1

500

In [38]:
y2=200

y2/=5
y2

40.0

In [39]:
y3=10

y3**=2
y3

100

# Membership Operators

In [50]:
x= [10,20,30,40,50,True,False,(100,20,30),{'Hello world',10}]
x

[10, 20, 30, 40, 50, True, False, (100, 20, 30), {10, 'Hello world'}]

In [51]:
print(100 in x)
print((100,20,30) in x)
print('Hello world' in x)

False
True
False

In [52]:
print(20 not in x)

False