# 8. Loops in Python

 * __A for loops is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming language, and works more like an iterators method as found in other object-oriented programming language.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehead.__
 * __With the while loop we can execute a set of statements as long as a condition is True.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, we need to exceed to define an indexing variable, i, which set to 1.__

# range() function

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specifed number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increment by 1(by default), and ends at a specifed number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(100)

range(0, 100)

In [4]:
x=[2005,2006,2007,2008,2009,2010]

for i in x:
    print(i)
else:
    print('Finally printed else statement')

2005
2006
2007
2008
2009
2010
Finally printed else statement

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
for x in range(10,21):
    print(x)

10
11
12
13
14
15
16
17
18
19
20

In [10]:
x=[2005,2006,2007,2008,2009,2010]

for i in range(len(x)):
    print(i,x[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [15]:
for x1 in x:
    print(x1,end=' ')

2005 2006 2007 2008 2009 2010

In [16]:
for x1 in x:
    print(x1,end=',')

2005,2006,2007,2008,2009,2010,

In [20]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [24]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [28]:
for i in range(0,21,3):
    print(i)

0
3
6
9
12
15
18

In [30]:
languages=['Python','c++','c','java',"Kotlin","Flutter","Django","HTML","CSS","JavaScript","AWS"]

for i in range(len(languages)):
    print(i,languages[i])

0 Python
1 c++
2 c
3 java
4 Kotlin
5 Flutter
6 Django
7 HTML
8 CSS
9 JavaScript
10 AWS

In [32]:
languages=['Python','c++','c','java',"Kotlin","Flutter","Django","HTML","CSS","JavaScript","AWS"]
# enumerate

for index, data in enumerate(languages):
    print(index,data)

0 Python
1 c++
2 c
3 java
4 Kotlin
5 Flutter
6 Django
7 HTML
8 CSS
9 JavaScript
10 AWS

In [34]:
# How to print table using for loop # 12x1=12, 12x2=24, 12x3=36,..................12x10=120
x=12

for i in range(1,11):
    print(x,'X',i,'=',x*i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [35]:
x1=int(input('Enter your number:'))

for i in range(1,11):
    print('%dx%d=%d'%(x1,i,x1*i))

Enter your number: 13

13x1=13
13x2=26
13x3=39
13x4=52
13x5=65
13x6=78
13x7=91
13x8=104
13x9=117
13x10=130

In [36]:
x2=int(input("Enter first value:"))
x3=int(input("Enter second value:"))

for x in range(1,11):
    print("%dX%d=%d"%(x2,i,x2*i),"%dX%d=%d"%(x3,i,x3*i),)

Enter first value: 12
Enter second value: 13

12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130

In [45]:
list1=[10,20,30,40,50,60,70,80,90,100,110,120,130,405,450]

# find the total sum of the elements.

sum1=0

for i in list1:
    sum1+=i

else:
    print("The sum of the list are:",sum1)
#print(sum1)

The sum of the list are: 1765

# Break in for loop

In [48]:
for i in range(10,20+1):
    if i==15:
        break
    print(i)

10
11
12
13
14

In [49]:
list1=[10,20,30,40,50,60,70,80,90,100,110,120,130,405,450]


for i in list1:
    if i==70:
        break
    print(i)

10
20
30
40
50
60

In [51]:
languages=['Python','c++','c','java',"Kotlin","Flutter","Django","HTML","CSS","JavaScript","AWS"]

for i in languages:
    if i == "Kotlin":
        break
    print(i)

Python
c++
c
java

# Continue in for loop

In [53]:
for i in range(10,21):
    if i==15:
        continue
    print(i)

10
11
12
13
14
16
17
18
19
20

In [57]:
languages=['Python','c++','c','java',"Kotlin","Flutter","Django","HTML","CSS","JavaScript","AWS"]

for i in languages:
    

    if i=="Django":
        continue
    print(i)

Python
c++
c
java
Kotlin
Flutter
HTML
CSS
JavaScript
AWS