# 8. Loops in Python

 * __A for loops is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming language, and works more like an iterators method as found in other object-oriented programming language.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehead.__
 * __With the while loop we can execute a set of statements as long as a condition is True.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, we need to exceed to define an indexing variable, i, which set to 1.__

# range() function

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specifed number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increment by 1(by default), and ends at a specifed number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(100)

range(0, 100)

In [4]:
x=[2005,2006,2007,2008,2009,2010]

for i in x:
    print(i)
else:
    print('Finally printed else statement')

2005
2006
2007
2008
2009
2010
Finally printed else statement

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
for x in range(10,21):
    print(x)

10
11
12
13
14
15
16
17
18
19
20

In [10]:
x=[2005,2006,2007,2008,2009,2010]

for i in range(len(x)):
    print(i,x[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [15]:
for x1 in x:
    print(x1,end=' ')

2005 2006 2007 2008 2009 2010

In [16]:
for x1 in x:
    print(x1,end=',')

2005,2006,2007,2008,2009,2010,

In [20]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [24]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [28]:
for i in range(0,21,3):
    print(i)

0
3
6
9
12
15
18

In [30]:
languages=['Python','c++','c','java',"Kotlin","Flutter","Django","HTML","CSS","JavaScript","AWS"]

for i in range(len(languages)):
    print(i,languages[i])

0 Python
1 c++
2 c
3 java
4 Kotlin
5 Flutter
6 Django
7 HTML
8 CSS
9 JavaScript
10 AWS

In [32]:
languages=['Python','c++','c','java',"Kotlin","Flutter","Django","HTML","CSS","JavaScript","AWS"]
# enumerate

for index, data in enumerate(languages):
    print(index,data)

0 Python
1 c++
2 c
3 java
4 Kotlin
5 Flutter
6 Django
7 HTML
8 CSS
9 JavaScript
10 AWS

In [34]:
# How to print table using for loop # 12x1=12, 12x2=24, 12x3=36,..................12x10=120
x=12

for i in range(1,11):
    print(x,'X',i,'=',x*i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [35]:
x1=int(input('Enter your number:'))

for i in range(1,11):
    print('%dx%d=%d'%(x1,i,x1*i))

Enter your number: 13

13x1=13
13x2=26
13x3=39
13x4=52
13x5=65
13x6=78
13x7=91
13x8=104
13x9=117
13x10=130

In [36]:
x2=int(input("Enter first value:"))
x3=int(input("Enter second value:"))

for x in range(1,11):
    print("%dX%d=%d"%(x2,i,x2*i),"%dX%d=%d"%(x3,i,x3*i),)

Enter first value: 12
Enter second value: 13

12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130
12X10=120 13X10=130

In [45]:
list1=[10,20,30,40,50,60,70,80,90,100,110,120,130,405,450]

# find the total sum of the elements.

sum1=0

for i in list1:
    sum1+=i

else:
    print("The sum of the list are:",sum1)
#print(sum1)

The sum of the list are: 1765

# Break in for loop

In [48]:
for i in range(10,20+1):
    if i==15:
        break
    print(i)

10
11
12
13
14

In [49]:
list1=[10,20,30,40,50,60,70,80,90,100,110,120,130,405,450]


for i in list1:
    if i==70:
        break
    print(i)

10
20
30
40
50
60

In [51]:
languages=['Python','c++','c','java',"Kotlin","Flutter","Django","HTML","CSS","JavaScript","AWS"]

for i in languages:
    if i == "Kotlin":
        break
    print(i)

Python
c++
c
java

# Continue in for loop

In [53]:
for i in range(10,21):
    if i==15:
        continue
    print(i)

10
11
12
13
14
16
17
18
19
20

In [57]:
languages=['Python','c++','c','java',"Kotlin","Flutter","Django","HTML","CSS","JavaScript","AWS"]

for i in languages:
    

    if i=="Django":
        continue
    print(i)

Python
c++
c
java
Kotlin
Flutter
HTML
CSS
JavaScript
AWS

# for-else in loop

In [2]:
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [5]:
for i in range(10,21):
    if i%2==0:
        print(i)
else:
    print("These are numbers from 10 to 20 of even numbers.")

10
12
14
16
18
20
These are numbers from 10 to 20 of even numbers.

In [14]:
for i in range(10,21):
    print(i,end=' ')
else:
    print("These are numbers from 10 to 20.")

10 11 12 13 14 15 16 17 18 19 20 These are numbers from 10 to 20.

In [19]:
x_list=[10,20,30,50,40,50,60,70]

sum1=0

for i in x_list:
    sum1+=i
print(sum1)
print("Average of these numbers are:",sum1/len(x_list))

330
Average of these numbers are: 41.25

# While loop

In [20]:
i=22

while i<=30:
    i+=1
    print(i)

23
24
25
26
27
28
29
30
31

In [21]:
i=22

while i>=17:
    i-=1
    print(i)

21
20
19
18
17
16

In [30]:
fruits=["banana",'apple','carrot','kiwi','cherry','pineapple',"Guava",]

index=3
new_list=[]

while fruits[index]=="kiwi":
    new_list.append(fruits[index])
    index+=1
print(new_list)

['kiwi']

In [34]:
# How to print table using while loop

table=int(input('Enter any value'))
table2=int(input('Enter any value'))
i=1

while i<=10:
    print("%dX%d=%d"%(table,i,table*i),"%dX%d=%d"%(table2,i,table2*i))
    i+=1

Enter any value 13
Enter any value 14

13X1=13 14X1=14
13X2=26 14X2=28
13X3=39 14X3=42
13X4=52 14X4=56
13X5=65 14X5=70
13X6=78 14X6=84
13X7=91 14X7=98
13X8=104 14X8=112
13X9=117 14X9=126
13X10=130 14X10=140

In [42]:
# find the sum of the number from 1 to 10.

i=1
sum1=0
while i<=10:
    #print(i)
    sum1+=i
    i+=1

print("sum of the number from 1 to 10 is:",sum1)

sum of the number from 1 to 10 is: 55

In [52]:
# find the sum of the even number from 10 to 30

i=10
sum2=0
while i<=30:
    if i%2==0:
        sum2+=i
    i+=1
print("Sum of these number are:",sum2)

Sum of these number are: 220

In [ ]:
# find the odd number from 50 to 100

# While-else

In [56]:
i=50
sum5=0
while i<=100:
    if i%2!=0:
        sum5+=i
    #print(i)
    i+=1
else:
    print('sum of the odd numbers from 50 to 100 is:',sum5)

sum of the odd numbers from 50 to 100 is: 1875

In [57]:
# how to print sum of even numbers from user input function
# how to print sum of odd numbers from user input function

In [70]:
# how to print sum of even numbers from user input function
user=int(input("Enter any value:"))
i=0
sum_1=0
while i<=user:
    if i%2==0:
        #print(i)
        sum_1+=i
    #print(i)
    i+=1
else:
    print("Sum of these even numbers are:",sum_1)

Enter any value: 40

Sum of these even numbers are: 420

In [74]:
# odd numbers
user=int(input("Enter any value:"))
i=0
sum_2=0
while i<=user:
    if i%2!=0:
        #print(i)
        sum_2+=i
    #print(i)
    i+=1
else:
    print("Sum of these odd numbers are:",sum_2)

Enter any value: 100

Sum of these odd numbers are: 2500

In [101]:
# Write a program to find the square of user input number:
user_1=int(input('Enter any number:'))
square_num=0
i=1
while i<=user_1:
    print("%dX%d=%d"%(i,i,i*i))
    #if i>=0:
        #square_num=i**2
    #print(i)
    #else:
        #print('Enter positive number only')
    i+=1

Enter any number: 14

1X1=1
2X2=4
3X3=9
4X4=16
5X5=25
6X6=36
7X7=49
8X8=64
9X9=81
10X10=100
11X11=121
12X12=144
13X13=169
14X14=196