# Python Basic

In [1]:
print("Pyal Chavan")

Pyal Chavan

In [3]:
# print: it display the output

print("Hello world")

Hello world

In [1]:
# Comment 


print('Hello world')

Hello world

In [2]:
print("Hello World")

Hello World

In [3]:
print("516496165165")

516496165165

In [4]:
# find the information about your python version

import sys

In [5]:
print(sys.version)

3.11.4 (tags/v3.11.4:d2340ef, Jun  7 2023, 05:45:37) [MSC v.1934 64 bit (AMD64)]

In [6]:
print("Payal")
print("Chavan")
print("Hello world")
frint('Hello Python')
print('C,C++')

Payal
Chavan
Hello world

NameError: name 'frint' is not defined

In [7]:
print("Payal")
print("Chavan")
print("Hello world")
print('Hello Python')
print('C,C++')

Payal
Chavan
Hello world
Hello Python
C,C++

# Python Data Types

 __1. Number__  
 * __(i). Integer__
 * __(ii). Float__
 * __(iii). Complex Number__

__2. Dictionary__

__3.Sets__
 * __(i). Union__
 * __(ii). Intersection__
 * __(iii). Difference__
 * __(iv). Symmetric Difference__

__4. Boolean__
 * __(i). True__
 * __(ii). False__

__5. Sequence__
 * __(i). List__
 * __(ii). Tuple__
 * __(iii). String__

In [19]:
# Python Data types

# 1. String

print('Hello world')
print("Hello Pyal")
print("6151616")
print('!@#$%')

# 2. Number

# integer
print(1658)
print(1000)

# Float
print(100.23)
print(123.00)

# 3. Boolen

print(True)
print(False)

Hello world
Hello Pyal
6151616
!@#$%
1658
1000
100.23
123.0
True
False

# type() funtion

In [33]:
# Python Data types

# 1. String

print('Hello world')
print(type('Hello world'))
print("Hello Payal")
print(type("Hello Payal"))
print("6151616")
print(type("6151616"))
print('!@#$%')
print(type('!@#$%'))

# 2. Number

# integer
print(1658)
print(type(1658))
print(1000)
print(type(1000))

# Float
print(100.23)
print(type(100.23))
print(123.00)
print(type(123.00))

# 3. Boolen

print(True)
print(type(True))
print(False)
print(type(False))

Hello world
<class 'str'>
Hello Payal
<class 'str'>
6151616
<class 'str'>
!@#$%
<class 'str'>
1658
<class 'int'>
1000
<class 'int'>
100.23
<class 'float'>
123.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [47]:
x=100
print(x)
print(type(x))
# conversion integer into float
print(float(x))
print(type(float(x)))

# conversion data integer into string
print(str(x))
print(type(str(x)))

100
<class 'int'>
100.0
<class 'float'>
100
<class 'str'>

In [48]:
number1=123.25
print(number1)
print(type(number1))

123.25
<class 'float'>

In [49]:
# Boolean

bool_1=True   # string=True, # integer=1, # float=1.0

# Expression and Variable

In [52]:
x=16+79*78-89   # x --> x is a variable and 16+79*78-89 this is expression
x

6089

In [53]:
# Addition

x1=45+154+98
x1

297

In [54]:
# Substraction

x2=78-89-100
x2

-111

In [55]:
# Multiplication

x3= 45*78*96
x3

336960

In [56]:
# division

# 1. float division

x3=125/4
x3

31.25

In [58]:
# Floor value 

x4=125//4  # int division
x4

31

In [60]:
# Exponent

x5=4**3
x5

64

In [61]:
x6=125**5
x6

30517578125

In [63]:
# Modulus

x7=125%4
x7

1

In [64]:
x8= 3%2
x8

1

In [65]:
x9=10%2
x9

0

In [69]:
# Let's find: How many minutes are there in 60 hrs.

one_hour=60  # minutes
hours= 60

total_minutes=one_hour*hours
print('Total minutes are there in 60hrs:',total_minutes,'Minutes')

Total minutes are there in 60hrs: 3600 Minutes

In [ ]:
# Let's find: How many hours are there in 7890 minutes.